<% provide(:title, @user.name) %>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><%= @user.name %></h3>
		  </div>
		  <div class="panel-body">
		    <%= gravatar_for @user %>
		  </div>
		</div>
	</div>
</div>