<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand">The <a class="navbar-link" href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a class="navbar-link" href="http://www.michaelhartl.com/">Michael Hartl</a></span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="#">News</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>